{{template "main.gohtml"}}

{{define "content"}}
<div>
    Bitte Bieternummer eingeben:
    <form action="/">   
        <input type="text" id="user_id" name="user_id">
        <input type="submit" value="Submit">
    </form>
</div>

<div>
    <form action="/create" method="post">
        <input type="text" id="name" name="name">
        <input type="submit" value="Neuen Benutzer anlegen">
    </form> 
</div>
{{end}}
