<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />

    <title>Bieterrunde</title>
    <link rel="stylesheet" href="/static/css/main.css" />
    {{block "header" . }}
    {{end}}
    <link rel="icon" href="static/images/favicon.png" />
  </head>

  <body>
    <div>HEADER</div>

    <div>
    {{template "content" .}}
    </div>
    
    <div>{{if .Name}}<a href="/?user_id=">logout</a>{{end}}<br><a href="/admin">admin</a></div>
    {{block "bottom" . }}
    {{end}}
  </body>
</html>
